<center>
<h1>Welcome to Fwitter</h1>
<br><br>
  <nav>
    <% if logged_in? %>
      <a href="/tweets/new"> Create Tweet </a>
      <a href="/logout"> Log Out </a>
      <p>Welcome, <%=current_user.username %></p>
    <% else%>
      <h2><a href='/login'>Login</a></h2><br>
      <h2><a href='/signup'>Sign Up</a></h2>
    <%end%>
  </nav>
</center>
